rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /shifts/{shiftId} {
      allow read, write: if true;

      match /smart_decisions/{docId} {
        allow read, write: if true;
      }

      match /baseline_decisions/{docId} {
        allow read, write: if true;
      }
    }
  }
}
